language: python
python:
  - "2.7"
  - "3.4"
  - "3.7"
  - "3.8"

before_install:
  - sudo apt-get update
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda

install:
  - conda create --yes -q -n pyenv python=$TRAVIS_PYTHON_VERSION -c conda-forge
  - source activate pyenv
  - conda install --yes pip numpy scipy scikit-learn nose pyyaml -c conda-forge -c main

script:
  - nosetests
